@use '../../style' as s;

main {
	padding: s.space(4);
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	width: 100%;
	background-color: #35363A;
	padding:  s.space(4) s.space(10);
	border-radius: 100px;
	gap: s.space(10);
	align-items: center;

	&__button {
		height: 40px;
		transition: 0.7s;

		&:hover {
			opacity: 0.7;
		}
	}
	 &__input {
		width: 100%;
		background-color: #202124;
		border-radius: 208.14px;
		padding:  s.space(4) s.space(10);
		color: white;
		font-size: 32px;
	 }
}